
body{
    background-color: #f8f8f8;
    font-family: 'Noto Sans';
    font-size: 13px;
}
*{margin:0px; padding: 0px;}
a{color: #FFF; text-decoration: none;}
img{border:0px;}
#wrapper{
    width: 100%;
}
#header{
    width: 100%;
    height: 127px;
    background-image: url('../images_fdd/fab_header_bgg.png');
    background-repeat: repeat-x;
}
#header .center_header{
    width: 1000px;
    margin: auto;
    height: 127px;
}
#header .center_header .logo{
    float: left;
    margin-top:22px;
}
#header .center_header .header_search input[type='text']{
    width:302px;    
    height: 25px;
    margin-left: 6px;
    border:0px;
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
    border:0px solid #ccc;
    float:left;
    margin-top:5px;
}
#header .center_header .header_search input[type='submit']{
    width: 34px;
    height: 32px;
    margin-top: 2px;
    border:0px;
    background-color: transparent;
    cursor: pointer;

}
#header .center_header .header_search{
    width: 351px;
    height: 39px;
    float: left;
    margin-left:100px;
    margin-top:20px;
    background-image: url('../images_fdd/fab_search_bar.png');
}
#header .center_header a{
    color: #ababab;
}
#header .center_header .my_account{
    float: left;
    background-image: url('../images_fdd/fab_contul_meu_icon.png');
    background-repeat: no-repeat;
    padding-left: 19px;
    color: #ababab;
    line-height: 27px;
    height: 24px;
}
#header .center_header .shopping_cart{
    float: left;
    background-image: url('../images_fdd/fab_cart_icon.png');
    background-repeat: no-repeat;
    padding-left: 27px;
    color: #ababab;
    line-height: 27px;
    height: 24px;
}

#header .header_menu{
    float: right;
    margin-top:26px;
    list-style-type: none;
}
#header .header_menu li{
    float: left;
    margin-left:25px; 
}

#header .header_categories{
    width: 900px;
    list-style-type: none;
    float: left;
    clear: both;
    margin-left: 20px;
    font-family: 'Noto Sans';
    margin-top:31px;
}

#header .header_categories .subcats a{
    color: #1d1d1d;
    font-size: 13px;
    font-weight: normal;
}
#header .header_categories .subcats{
    position: absolute;
    left: 50%;
    margin-left:-92px;
    z-index: 999;
    display: none;
    *margin-top:20px;
}
#header .header_categories .subcats ul{
    list-style-type: none;

    padding: 0px;
    background-image: url('../images_fdd/home-meniu-a_02.png');
    padding-top: 23px;
    width: 184px;
    background-repeat: no-repeat;background-position: top left;
    float: left;
    height: auto;
    margin: 0px; 
    margin-top:0px;




}
#header .header_categories .subcats li a:hover{text-decoration: underline}
#header .header_categories .subcats li{
    padding-left: 24px;
    width: 160px;
    background-image: url('../images_fdd/home-meniu-b.png');
}
#header .header_categories .subcats li div{
    padding-bottom: 4px;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 4px;

    width: 137px;
}
#header .header_categories .subcats .footer_end{
    background-image: url('../images_fdd/home-meniu-c_02.png');
    width: 160px;
    height: 19px;
    background-repeat: no-repeat;
}
#header .header_categories .elipse{
    background-image: url('../images_fdd/fab_elipse.png');
    width: 32px; height: 9px;
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -16px;
}
#header .header_categories .last{
    background-image: none;
    padding-right: 0px;

}
#header .header_categories .bullet{
    background-image: url('../images_fdd/fab_bullet.png');
    background-repeat: no-repeat;
    width: 3px; height: 3px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top:10px;
    background-position:right center;

}
#header .header_categories li{
    position: relative;
    float: left;
    font-size: 14px;
    font-weight: bold;
    z-index: 999;

}
#header .header_categories li a{
    color: #FFF;
}
#form_notification{
    font-size: 12px;
}

#content{
    width: 1000px;
    margin: auto;
    min-height: 300px;
    margin-top:40px;
}
#clear{clear: both}

.offers_list {

}
.offers_list .offer{

    width: 233px; height: 295px;
    background-color: #fff;
    margin-right: 17px;
    float: left;
    margin-bottom: 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0px 0px 4px #b8b8b8;
    -webkit-box-shadow: 0px 0px 4px #b8b8b8;
    box-shadow: 0px 0px 4px #b8b8b8;
}
.offers_list .offer .image{
    position: relative;
    width: 233px; height: 190px;
    overflow: hidden;   
}
.offers_list .offer .image .time_left{
    background-image: url('../images_fdd/fab_green_clock.png');
    width: 16px; height: 20px;
    padding-left: 17px;
    background-repeat: no-repeat;
    width: 100%;
    letter-spacing: 0px;
    word-spacing: -1px;
    background-position: 0px 2px;
}
.offers_list .offer .image .discount{
    top: 140px;
    position: absolute;
}
.offers_list .offer .image .image_over{
    background-image: url('../images_fdd/fab_grey_transparent.png');
    width: 77px;
    top:10px;
    color: #fff;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    font-size: 11px;
}
.offers_list .offer .info{
    width: 219px;
    height: 53px;
    overflow: hidden;
    padding: 7px;
    padding-top: 7px;
    font-size: 14px;
    padding-bottom: 10px;
}

.offers_list .price_details .view{ display: block;
                                   background-image: url('../images_fdd/fab_lupa_oferte.png');
                                   width: 19px;
                                   height: 20px;
}
.offers_list .price_details .cart{ display: block;
                                   background-image: url('../images_fdd/fab_cart_oferte.png');
                                   width: 32px;
                                   height: 20px;
}
.offers_list .price_details .price span{
    font-size: 13px;
}
.offers_list .price_details .price{
    text-align: center;
    font-size: 24px;
}
.error{color: #F00;}

#footer{
    margin-top: 100px;
    width: 100%;
    height: 223px;
    background-image: url('../images_fdd/fab_footer_bgg.png');
}

#footer .inner_footer{
    width: 1000px;
    height: 223px;
    margin: auto;
}
#footer .nav{

    float: left;
    margin-left:70px;
    margin-top:45px;
    font-size: 15px;
}
#footer .nav ul{}
#footer .nav li{margin-bottom: 5px; color: #FFF; font-size: 14px}


#footer .newsletter{float: left; margin-left:120px; margin-top:45px;}
#footer .newsletter .title{font-size: 15px; color: #FFF; text-align: left;}

#footer .newsletter .soccial span{font-size: 15px; color: #FFF;
                                  clear: both;
                                  display: block;
                                  float: left;
                                  margin-top: 40px;


}
#footer .newsletter .imgs{margin-top:35px; margin-left: 7px; margin-left: 17px; float: left;}
#footer .newsletter .imgs img{margin-left: 5px;}


#footer .newsletter form{width: 359px; height: 39px;
                         background-image: url('../images_fdd/fab_search_bar.png');
                         background-repeat: no-repeat;

                         margin-top:20px;
}
#footer .newsletter form input[type="submit"]{
    width: 34px;
    height: 32px;
    margin-top: 2px;
    border:0px;
    background-color: transparent;
    cursor: pointer;
}
#footer .newsletter form input[type="text"]{
    width:302px;    
    height: 25px;
    margin-left: 6px;
    border:0px;
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
    border:0px solid #ccc;
    float:left;
    margin-top:5px;
}

/* oferta pagina */
#content .oferta_view{
    width: 1000px;
    min-height: 700px;
    color: #333333;
}
#content  .breadcrumbs{
    margin-bottom: 15px;

}
#content  .breadcrumbs h1{
    font-size: 22px; font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}
#content .oferta_view .row{
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#content .oferta_view .row_one{
    background-color: #FFF;
}

#content .oferta_view .row_one{
    background-color: #FFF;
}
#content .oferta_view h1{
    margin: 0px;
    font-size: 25px;
    color: #333333;
    font-weight: normal;
}

#content .oferta_view .brief{
    font-size: 15px;
    color: #333333;
    margin-top: 15px;
}

#content .oferta_view .oferta_detalii{

    margin-top:25px;
    height: 384px;
}
#content .oferta_view .oferta_detalii .image{
    height: 384px;
    width: 600px;
    overflow: hidden;

    float: left;
}
#content .oferta_view .oferta_detalii .price_block{
    float: left;
    color: #404040;
    margin-left: 20px;
    padding-top: 16px;
    height: 364px;

}
#content .oferta_view .oferta_detalii .price_block .price{
    font-size: 45px;
}
#content .oferta_view .oferta_detalii .price_block  .currency{
    font-size: 19px;
}
#content .oferta_view #cart_form{
    margin-top: 20px;
    margin-bottom: 15px;
}
#content .oferta_view #cart_form .cumpara_btn{
    display: block;
    background-image: url('../images_fdd/fab_adauga_cos.png');
    width: 237px; height: 69px;

}
#content .oferta_view .sales_details td{
    border-top:1px solid #d3d3d3;
    font-size: 14px;
    padding-bottom:9px;
    padding-top: 9px;
    padding-left: 4px;

}
#content .oferta_view .sales_details img{
    padding-right: 8px;
}
#content .oferta_view .descriere{
    margin-top: 25px;
}
#content .oferta_view .descriere h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

#content .oferta_view .row_two{
    background-color: #FFF;
    margin-top: 20px;
}
#content .oferta_view .row_two h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
#content .oferta_view .row_two ul{
    margin-left: 20px;
}

#content .oferta_view .row_three{
    background-color: #FFF;
    margin-top: 20px;
}
#content .oferta_view .row_three .compay_details{
    margin-top: 36px;
}
#content .oferta_view .row_three h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
/* end oferta pagina */

#content form table{
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table label{
    padding-right: 30px;
}
#content form table select{
     width: 207px;
    
    height: 22px;
    border:1px solid #dadada;
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table input[type="text"],#content form table input[type="password"]{
    width: 200px;
    padding-left: 5px;
    height: 22px;
    border:1px solid #dadada;
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table td{
    padding-bottom: 12px;
}
#content form table input[type="checkbox"]{margin-right: 10px;}
#greenButton{
    background-image: url('../images_fdd/fab_green_button.png');
    width: 147px;
    height: 44px;
    text-align: center;
    border:0px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}
/** register*/
#content .register{
    width: 950px;
    min-height: 700px;
    color: #333333;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;

}
/* register end */