
body{
    background-color: #f8f8f8;
    font-family: 'Noto Sans';
    font-size: 13px;
}
*{margin:0px; padding: 0px;}
a{color: #FFF; text-decoration: none;}
img{border:0px;}
#wrapper{
    width: 100%;
}
#header{
    width: 100%;
    height: 127px;
    background-image: url('../images_fdd/fab_header_bgg.png');
    background-repeat: repeat-x;
}
#header .center_header{
    width: 1000px;
    margin: auto;
    height: 127px;
}
#header .center_header .logo{
    float: left;
    margin-top:22px;
}
#header .center_header .header_search input[type='text']{
    width:302px;    
    height: 25px;
    margin-left: 6px;
    border:0px;
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
    border:0px solid #ccc;
    float:left;
    margin-top:5px;
}
#header .center_header .header_search input[type='submit']{
    width: 34px;
    height: 32px;
    margin-top: 2px;
    border:0px;
    background-color: transparent;
    cursor: pointer;

}
#header .center_header .header_search{
    width: 351px;
    height: 39px;
    float: left;
    margin-left:100px;
    margin-top:20px;
    background-image: url('../images_fdd/fab_search_bar.png');
}
#header .center_header a{
    color: #ababab;
}
#header .center_header .my_account{
    float: left;
    background-image: url('../images_fdd/fab_contul_meu_icon.png');
    background-repeat: no-repeat;
    padding-left: 19px;
    color: #ababab;
    line-height: 27px;
    height: 24px;
    position: relative;
}
#header .center_header .shopping_cart{
    float: left;
    background-image: url('../images_fdd/fab_cart_icon.png');
    background-repeat: no-repeat;
    padding-left: 27px;
    color: #ababab;
    line-height: 27px;
    height: 24px;
    position: relative;
}

#header .header_menu{
    float: right;
    margin-top:26px;
    list-style-type: none;
}
#header .header_menu li{
    float: left;
    margin-left:25px; 
}

#header .header_categories{
    width: 900px;
    list-style-type: none;
    float: left;
    clear: both;
    margin-left: 20px;
    font-family: 'Noto Sans';
    margin-top:31px;
}

#header .header_categories .subcats a{
    color: #1d1d1d;
    font-size: 13px;
    font-weight: normal;
}
#header .header_categories .subcats{
    position: absolute;
    left: 50%;
    margin-left:-92px;
    z-index: 999;
    display: none;
    *margin-top:20px;
}
#header .header_categories .subcats ul{
    list-style-type: none;

    padding: 0px;
    background-image: url('../images_fdd/home-meniu-a_02.png');
    padding-top: 23px;
    width: 184px;
    background-repeat: no-repeat;background-position: top left;
    float: left;
    height: auto;
    margin: 0px; 
    margin-top:0px;




}
#header .header_categories .subcats li a:hover{text-decoration: underline}
#header .header_categories .subcats li{
    padding-left: 24px;
    width: 160px;
    background-image: url('../images_fdd/home-meniu-b.png');
}
#header .header_categories .subcats li div{
    padding-bottom: 4px;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 4px;

    width: 137px;
}
#header .header_categories .subcats .footer_end{
    background-image: url('../images_fdd/home-meniu-c_02.png');
    width: 160px;
    height: 19px;
    background-repeat: no-repeat;
}
#header .header_categories .elipse{
    background-image: url('../images_fdd/fab_elipse.png');
    width: 32px; height: 9px;
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -16px;
}
#header .header_categories .last{
    background-image: none;
    padding-right: 0px;

}
#header .header_categories .bullet{
    background-image: url('../images_fdd/fab_bullet.png');
    background-repeat: no-repeat;
    width: 3px; height: 3px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top:10px;
    background-position:right center;

}
#header .header_categories li{
    position: relative;
    float: left;
    font-size: 14px;
    font-weight: bold;
    z-index: 999;

}
#header .header_categories li a{
    color: #FFF;
}

#header #cart_header{
    margin-top: -8px;
    display: none;
    position: absolute;
    left: 0px;
    margin-left:-370px;
}
#header #cart_header .pointing_arrow{
    background-image: url('../images_fdd/fab_smoc_arrow.png');
    width: 15px;
    height: 5px;
    position: absolute;
    right: 55px;
    margin-top: 8px;

}
#header #cart_header .inner .empty_cart{
    color: #1d1d1d;
    text-align: left;
    font-size: 15px;
}
#header #cart_header .inner{

    padding: 15px;
    margin-top:13px;
    background-color: #FFF;
    width: 466px;
    min-height: 30px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
#header #cart_header .inner td{
    line-height: 17px;
    color: #1d1d1d;
}
#header #cart_header .inner td td{
    padding-bottom: 5px;
}
#header .shopping_cart #cart_header .brief a{
    color: #1d1d1d;
}
#header .shopping_cart #cart_header .brief{
    font-size: 12px;
}
#header .shopping_cart #cart_header .title{
    font-size: 14px;
    text-align: left;
    color: #161616;
    padding-bottom: 15px;
}
#header .shopping_cart #cart_header .discount{
    font-size: 14px;
    text-align: right;
    color: #161616;
    padding-bottom: 15px;
}
#header #cart_header .summary_discount{
    padding-top: 15px;
    font-size: 14px;

    text-align: right;
}
#header #cart_header .download{
    padding-top: 15px;
}
#header #cart_header .space{
    padding-top: 10px;
    border-bottom:1px solid #cccccc;
}
#header #cart_header .download a{
    display: block;
    background-image: url('../images_fdd/fab_descarca_voucherele_header.png');
    width: 197px; height: 29px;
}

/* header login */
#header_login{
    margin-top: -8px;
    display: block;
    position: absolute;
    left: 0px;
    margin-left:-70px;
    display: none;

}
#header_login .pointing_arrow{
    background-image: url('../images_fdd/fab_smoc_arrow.png');
    width: 15px;
    height: 5px;
    position: absolute;
    right: 100px;
    margin-top: 8px;
}
#header_login .inner{
    padding: 12px;
    padding-top: 5px;
    margin-top:13px;
    background-color: #FFF;
    width: 209px;
    height: 195px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
#header_login .login_table input[type="text"],#header_login .login_table input[type="password"]{
    height: 19px;
    color: #969696;
    width: 205px;
    border:1px solid #cccccc;
}
#header #header_login h2{
    color: #161616;
    font-size: 13px;
    font-weight: normal;
    margin-top:0px;
    margin-bottom: 4px;
    margin-left: 4px;
}
#header #header_login .fb_login{
    display:  block;
    background-image: url('../images_fdd/fab_fb_connect.png');
    width: 71px;
    height: 20px;
    float: left;
    margin-top: 5px;
}
#header #header_login .new_account{
    display:  block;
    background-image: url('../images_fdd/fab_cont_nou.png');
    width: 205px;
    height: 30px;
    margin: auto;
    margin-top: 8px;
}
#header #header_login .login_btn{
    display:  block;
    background-image: url('../images_fdd/fab_login.png');
    width: 59px;
    height: 20px;
    float: right;
    margin-top: 5px;
}
#header  #header_login .login_table td{
    color: #161616;
    font-size: 13px;
}
/* header login */
#form_notification{
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
}

#content{
    width: 1000px;
    margin: auto;
    min-height: 300px;
    margin-top:40px;
}
#clear{clear: both}

.offers_list {

}
.offers_list .offer{

    width: 233px; height: 295px;
    background-color: #fff;
    margin-right: 17px;
    float: left;
    margin-bottom: 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0px 0px 4px #b8b8b8;
    -webkit-box-shadow: 0px 0px 4px #b8b8b8;
    box-shadow: 0px 0px 4px #b8b8b8;
}
.offers_list .offer .image{
    position: relative;
    width: 233px; height: 190px;
    overflow: hidden;   
}
.offers_list .offer .image .time_left{
    background-image: url('../images_fdd/fab_green_clock.png');
    width: 16px; height: 20px;
    padding-left: 17px;
    background-repeat: no-repeat;
    width: 100%;
    letter-spacing: 0px;
    word-spacing: -1px;
    background-position: 0px 2px;
}
.offers_list .offer .image .discount{
    top: 140px;
    position: absolute;
}
.offers_list .offer .image .image_over{
    background-image: url('../images_fdd/fab_grey_transparent.png');
    width: 77px;
    top:10px;
    color: #fff;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    font-size: 11px;
}
.offers_list .offer .info{
    width: 219px;
    height: 53px;
    overflow: hidden;
    padding: 7px;
    padding-top: 7px;
    font-size: 14px;
    padding-bottom: 10px;
}

.offers_list .price_details .view{ display: block;
                                   background-image: url('../images_fdd/fab_lupa_oferte.png');
                                   width: 19px;
                                   height: 20px;
}
.offers_list .price_details .cart{ display: block;
                                   background-image: url('../images_fdd/fab_cart_oferte.png');
                                   width: 32px;
                                   height: 20px;
}
.offers_list .price_details .price span{
    font-size: 13px;
}
.offers_list .price_details .price{
    text-align: center;
    font-size: 24px;
}
.error{color: #F00;}

#footer{
    margin-top: 100px;
    width: 100%;
    height: 223px;
    background-image: url('../images_fdd/fab_footer_bgg.png');
}

#footer .inner_footer{
    width: 1000px;
    height: 223px;
    margin: auto;
}
#footer .nav{

    float: left;
    margin-left:70px;
    margin-top:45px;
    font-size: 15px;
}
#footer .nav ul{}
#footer .nav li{margin-bottom: 5px; color: #FFF; font-size: 14px}


#footer .newsletter{float: left; margin-left:120px; margin-top:45px;}
#footer .newsletter .title{font-size: 15px; color: #FFF; text-align: left;}

#footer .newsletter .soccial span{font-size: 15px; color: #FFF;
                                  clear: both;
                                  display: block;
                                  float: left;
                                  margin-top: 40px;


}
#footer .newsletter .imgs{margin-top:35px; margin-left: 7px; margin-left: 17px; float: left;}
#footer .newsletter .imgs img{margin-left: 5px;}


#footer .newsletter form{width: 359px; height: 39px;
                         background-image: url('../images_fdd/fab_search_bar.png');
                         background-repeat: no-repeat;

                         margin-top:20px;
}
#footer .newsletter form input[type="submit"]{
    width: 34px;
    height: 32px;
    margin-top: 2px;
    border:0px;
    background-color: transparent;
    cursor: pointer;
}
#footer .newsletter form input[type="text"]{
    width:302px;    
    height: 25px;
    margin-left: 6px;
    border:0px;
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
    border:0px solid #ccc;
    float:left;
    margin-top:5px;
}

/* oferta pagina */
#content .oferta_view{
    width: 1000px;
    min-height: 700px;
    color: #333333;
}
#content  .breadcrumbs{
    margin-bottom: 15px;

}
#content  .breadcrumbs h1{
    font-size: 22px; font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}
#content .oferta_view .row{
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#content .oferta_view .row_one{
    background-color: #FFF;
}

#content .oferta_view .row_one{
    background-color: #FFF;
}
#content .oferta_view h1{
    margin: 0px;
    font-size: 25px;
    color: #333333;
    font-weight: normal;
}

#content .oferta_view .brief{
    font-size: 15px;
    color: #333333;
    margin-top: 15px;
}

#content .oferta_view .oferta_detalii{

    margin-top:25px;
    height: 384px;
}
#content .oferta_view .oferta_detalii .image{
    height: 384px;
    width: 600px;
    overflow: hidden;

    float: left;
}
#content .oferta_view .oferta_detalii .price_block{
    float: left;
    color: #404040;
    margin-left: 20px;
    padding-top: 16px;
    height: 364px;

}
#content .oferta_view .oferta_detalii .price_block .price{
    font-size: 45px;
}
#content .oferta_view .oferta_detalii .price_block  .currency{
    font-size: 19px;
}
#content .oferta_view #cart_form{
    margin-top: 20px;
    margin-bottom: 15px;
}
#content .oferta_view #cart_form .cumpara_btn{
    display: block;
    background-image: url('../images_fdd/fab_adauga_cos.png');
    width: 237px; height: 69px;

}
#content .oferta_view .sales_details td{
    border-top:1px solid #d3d3d3;
    font-size: 14px;
    padding-bottom:9px;
    padding-top: 9px;
    padding-left: 4px;

}
#content .oferta_view .sales_details img{
    padding-right: 8px;
}
#content .oferta_view .descriere{
    margin-top: 25px;
}
#content .oferta_view .descriere h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

#content .oferta_view .row_two{
    background-color: #FFF;
    margin-top: 20px;
}
#content .oferta_view .row_two h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
#content .oferta_view .row_two ul{
    margin-left: 20px;
}

#content .oferta_view .row_three{
    background-color: #FFF;
    margin-top: 20px;
}
#content .oferta_view .row_three .compay_details{
    margin-top: 36px;
}
#content .oferta_view .row_three h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
/* end oferta pagina */

#content form table{
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table label{
    padding-right: 30px;
}
#content form table select{
    width: 270px;

    height: 22px;
    border:1px solid #dadada;
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table input[type="text"],#content form table input[type="password"]{
    width: 200px;
    padding-left: 5px;
    height: 22px;
    border:1px solid #dadada;
    color: #484848;
    font-size: 13px;
    font-family: 'Noto Sans';
}
#content form table td{
    padding-bottom: 12px;
}
#content form table input[type="checkbox"]{margin-right: 10px;}
#greenButton{
    background-image: url('../images_fdd/fab_green_button.png');
    width: 147px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border:0px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}
/** register*/
#content .register{
    width: 950px;
    min-height: 700px;
    color: #333333;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;

}
/* register end */

/* cart_page  */
#content .cart_page{
    width: 950px;
    min-height: 700px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
#content .cart_page .breadcrumbs{margin-bottom: 0px;}
#content .cart_page h1{border: 0px}
#content .cart_page .delete{
    display: block;
    background-image: url('../images_fdd/fab_delete_icon.png');
    width: 26px; height: 26px;

}
#content .cart_page .table_header td{
    font-weight: bold; font-size: 14px; color: #232323;
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}
#content .total_plata,#content .plata_partener,#content .economie{
    font-weight: bold; font-size: 14px; text-align: center;
}
#content .cart_page input[type="text"]{
    width: 220px; padding-left: 5px;
    height: 28px;
    font-size: 15px;
    color: #232323;
    border: 1px solid #8c8c8c;
}
#content .cart_page td{ padding-bottom: 3px;}
#content .cart_page .inner_table td{ padding-bottom: 6px;}
#content .cart_page .finalizare{
    background-image: url('../images_fdd/fab_download_vochers.png');
    width: 225px; height: 47px;
    float: right;
    border:0px;
    cursor: pointer;
    background-color:transparent;
    margin-top: 30px;
}
/* cart_page end  */

/* thankyou page */
#content .thankyou_page{
    width: 950px;
    min-height: 700px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
#content .thankyou_page .breadcrumbs{margin-bottom: 0px;}
#content .thankyou_page h1{border: 0px}

#content .thankyou_page .summary{

}
#content .thankyou_page .summary th{font-size: 15px; border-bottom: 1px solid #dadada; padding-bottom: 10px;}
#content .thankyou_page .summary td{border-bottom: 1px solid #dadada; padding-bottom: 10px; padding-top: 10px;}
#content .thankyou_page .summary span{font-size: 14px;}
#content .thankyou_page .summary .center_bold{ text-align: center; font-weight: bold; font-size: 22px;}

#content .thankyou_page .message{font-size: 25px; margin-top: 90px;}
#content .thankyou_page .message .text{float: left}
#content .thankyou_page .message a{float: left;display: block; margin-left: 60px; margin-top: 15px; font-size: 16px; line-height: 44px;}
/* end thankyou page */

/* user acount */
#content .util{
    width: 950px;
    min-height: 700px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
#content .account{
    width: 950px;
    min-height: 700px;
    float: left;
    padding-bottom: 50px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
#content .account h1{border: 0px}
#content .account .breadcrumbs{margin: 0px;}
#content .account .user_menu{
    list-style-type: none;
    border-bottom: 1px solid #dadada;
    float: right;
    margin-top: -20px; /* sorry */
    width: 100%;
    padding-bottom: 12px;
}
#content .account .user_menu li a{
    color: #00a5e2;
    font-size: 15px;
}
#content .account .user_menu li{
    float: right;
    margin-left: 40px;
    height: 20px;
    background-repeat: no-repeat;
}
#content .account .user_menu .date_cont{
    background-image: url('../images_fdd/fab_date_cont_icon.png');
    padding-left: 20px;
}
#content .account .user_menu .vouchere{
    background-image: url('../images_fdd/fav_vouchere_icon.png');
    padding-left: 19px;
}

#content .account .username{
    float: right;
    font-size: 18px; margin-top: 10px;
}

#content .account .change_settings{
    float: left;
    clear: both;
    margin-top: -25px;
}
/* end user acount */

/* user orders list */

#content .account .search_vouchers form{width: 359px; height: 39px;
                                        background-image: url('../images_fdd/fab_search_bar_border.png');
                                        background-repeat: no-repeat;
                                        float: left;
                                        margin-top:10px;
                                        margin-left: 5px;
}
#content .account .search_vouchers form input[type="submit"]{
    width: 34px;
    height: 32px;
    margin-top: 2px;
    border:0px;
    background-color: transparent;
    cursor: pointer;
}
#content .account .search_vouchers form input[type="text"]{
    width:302px;    
    height: 25px;
    margin-left: 6px;
    border:0px;
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
    border:0px solid #ccc;
    float:left;
    margin-top:5px;
}

#content .account .orders_list td{
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
    padding-top: 5px;
}
#content .account .orders_list{

    clear: both;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid #dadada;

}
#content .account .orders_list .inner td{
    padding-bottom: 10px;
    border:0px;
}
/* end user orders list */
/* partener  */

#content .partner{
    width: 950px;
    min-height: 700px;
    float: left;
    padding-bottom: 50px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}


#content .partner .header .name{
    font-size: 18px;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;

}
#content .partner a{
    color: #00a5e2;
}
#content .partner .header .minimenu{
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;
}
#content .partner .header .minimenu ul{
    list-style-type: none;
    margin: 0px;
    float: right;
    padding: 0px;
}
#content .partner .header .minimenu ul li{
    float: left;
    font-size: 15px;
    margin-left: 20px;

}

#content .partner .header .minimenu .date_cont{
    background-image: url('../images_fdd/fab_date_cont_icon.png');
    padding-left: 20px;
    background-repeat: no-repeat
}

#content .partner .header .minimenu .abonamente{
    background-image: url('../images_fdd/fab_abonamente.png');
    padding-left: 24px;
    background-position: 0px 3px;
    background-repeat: no-repeat
}

#content .partner_menu{
    margin: 0px;

    width: 100%;
    border-bottom: 1px solid #dadada;
    float: left;
    margin-top: 50px;

}
#content .partner_menu ul{
    list-style-type: none;
    float: right;
}
.minimenu ul .selected{
    font-weight: bold;
}
#content .partner_menu .selected{
    background-color: #b4b4b4;
    color: #FFF;
}
#content .partner_menu .selected a{color: #fff}
#content .partner_menu li{
    float: left;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    background-repeat: no-repeat;
}

#content .partner_menu .settings{
    background-image: url('../images_fdd/fab_ofertele_mele.png');
    padding-left: 28px;
    background-position: 10px 11px;
}
#content .partner_menu .new_offer{
    background-image: url('../images_fdd/fab_adauga_oferta.png');
    padding-left: 30px;
    background-position: 10px 13px;
}
#content .partner_menu .users{
    background-image: url('../images_fdd/fab_utilizatori.png');
    padding-left: 37px;
    background-position: 10px 12px;
}
#content .partner_menu .newsletter{
    background-image: url('../images_fdd/fab_newsletter.png');
    padding-left: 37px;
    background-position: 10px 14px;
}
#content .partner_menu .invoice{
    background-image: url('../images_fdd/fab_facturi.png');
    padding-left: 28px;
    background-position: 10px 12px;
}
#content .partner_menu .vouchers{
    background-image: url('../images_fdd/fab_ofertele_mele.png');
    padding-left: 30px;
    background-position: 10px 12px;
}
#content .partner_menu .dashboard{
    background-image: url('../images_fdd/fab_dashboard.png');
    padding-left: 30px;
    background-position: 5px 11px;
}

#content .partner .offers_list{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}
#content .partner .offers_list .brief{
    padding-left: 20px;
    padding-right: 30px;
    font-size: 14px;
}
#content .partner .offers_list .inner_table td{
    padding-top:3px;
    padding-bottom:3px;
}
#content .partner .offers_list .offers_details{
    display: block;
    background-image: url('../images_fdd/fab_detalii_oferta.png');
    width: 154px;
    height: 35px;
}
#content .partner .offers_list .promoted{
    width: 154px;
    padding: 5px;

}
#content .partner .offers_list .actions,
#content .partner .offers_list .inner_table,
#content .partner .offers_list .offer_image,
#content .partner .offers_list .brief{
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* offer details */
#content .partner .offers_list .summary_table .actions,
#content .partner .offers_list .summary_table .inner_table,
#content .partner .offers_list .summary_table .offer_image,
#content .partner .offers_list .summary_table .brief{
    border:0px;
}
#content .partner .offers_list .editeaza{
    background-image: url('../images_fdd/fab_editeaza_informatii.png');
}

.partner .offers_list .options{
    width: 100%;
    margin-top:30px;
}
.partner .offers_list .options .option{
    width: 100%;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #CCC;
}
.partner .offers_list .options .option .option_details td{
    padding-bottom: 5px;
}
.partner .offers_list .options .option .header{
    color: #232323;
    font-size: 14px;
    font-weight: bold;
}
.partner .offers_list .options .option .credit{
    color: #6fa300;
}

#content .offer_details_stats{
    width: 950px;
    min-height: 100px;
    float: left;
    padding-bottom: 20px;
    color: #1d1d1d;
    background-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin-top:20px;
}
#content .offer_details_stats td{
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: top;
}
#content .offer_details_stats h1{
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 15px;
}
/* end offer details */

/* edit offer */
#content .partner .edit_offer{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
}
#content .partner .edit_offer .offer_form .label{
    width: 140px;
}
#content .partner .edit_offer .offer_form label{
    padding-right: 0px;
}
#content .partner .edit_offer .offer_form input{
    width: 264px;
    border:1px solid #dadada;
    font-size: 14px;
    padding-left: 4px;
    font-family: 'Noto Sans';
}
#content .partner .edit_offer .offer_form .big_input input{
    width:500px;
}
#content .partner .edit_offer .offer_form .small_input input{
    width: 164px;
}
#content .partner .edit_offer .offer_form .pictures{
    margin-top: 20px;
}
#content .partner .edit_offer .offer_form .pictures .image:hover{
    opacity:0.8;
    cursor: pointer;
}
#content .partner .edit_offer .offer_form .pictures .image{
float: left;
height: 130px;
margin-right: 10px;
}

#content .partner .edit_offer .offer_form #tabs-1{
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}
#content .partner .edit_offer .offer_form #tabs-2,
#content .partner .edit_offer .offer_form #tabs-3,
#content .partner .edit_offer .offer_form #tabs-4,
#content .partner .edit_offer .offer_form #tabs-5{
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}
#content .plusButton{
    background-image: url('../images_fdd/plus.png');
    width: 59px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}
#content .partner .edit_offer h2{
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
}
#content .partner .edit_offer h1{
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 15px;
}
/* edit offer */
.ui-tooltip-content{font-size: 11px;}
#content .red_button{
    display: block;
    background-image: url('../images_fdd/fab_red_button.png');
    width: 154px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-weight: bold;

}

/* partner newsletter page */
#content .partner .newsletters{
    font-size: 13px; color: #232323;
    clear: both;
    float: left;
    width: 100%;
}

#content .partner .newsletters h1{
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;  
}
#content .partner .newsletters .info{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#content .partner .newsletters .left_side{
    margin-left: 20px;
    margin-top: 10px;
    width:680px; float: left;
}

#content .partner .newsletters .nameInput{
    width: 350px;
    height: 22px;
    border:1px solid #dadada;
}
#content .partner  .programeaza{
    background-image: url('../images_fdd/fab_calendar.png');
    padding-left: 33px;
    height: 25px;
    background-repeat: no-repeat;
}
#content .partner .programeaza input{
    width: 150px;
    height: 26px;
    border:1px solid #dadada;
    padding-left: 5px;
}
#content .partner .newsletters td{
    padding-bottom: 15px;
    vertical-align: top;
}

#content .partner .newsletters .filtersTable td label{
    padding-left: 0px;
}
#content .partner .newsletters .filtersTable td{
    padding-bottom: 10px;
}

#content .partner .newsletters .genderTable td{
    vertical-align: middle;
}
#content .partner .newsletters .ageTable td{
    vertical-align: middle;
}
#content .partner .newsletters .cities select{
    width: 200px;
    border:1px solid #dadada;
    padding: 3px;
    height: 100px;
}

#content .partner .newsletters .rightSide{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
#content .partner .newsletters .rightSide .vizualizeaza{
    display: block;
    background-image: url('../images_fdd/fab_newsletter_vizualizare.png');
    width: 147px;
    height: 43px;
}
#content .partner .newsletters .rightSide .programeaza{
    display: block;
    background-image: url('../images_fdd/fab_newsletter_programeaza.png');
    width: 147px;
    height: 43px;
    border:0px;
    margin-bottom: 10px;
    cursor: pointer;


}
#content .partner .newsletters .newsletters_list{
    float: left;
    margin-top: 20px;
    width: 100%;
}

#content .partner .newsletters .newsletters_list td{
    border:1px solid #dadada;
}

#content .partner .newsletters .newsletters_list {

}
#content .partner .newsletters .newsletters_list th{
    font-size: 16px;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    padding-bottom: 10px;
    padding-top: 10px;
}
#content .partner .newsletters .newsletters_list td{
    border:0px;
    border-bottom:1px solid #dadada;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
    text-align: center;

}
#ui-datepicker-div{
    font-size: 10px;
}
/* partner newsletter page */

.partner .vouchers h2{margin-top: 118px;font-size: 18pt;}
.partner .vouchers .search_bar{
    width: 345px;

    height: 26px;
    border: 1px solid #a6a695;
    border-radius: 3px;
    background-color: lightgrey;
    margin-top: 20px;
    background: url('../images_fdd/fab_search_bar.png');
    background-size: 101% 121%;
    background-position: 0px -3px;
    padding: 3px;
    padding-left: 5px;
}
.partner .vouchers .search_bar form{padding: 0;margin: 0;height: 26px;}
.partner .vouchers .search_bar input[type=text]{width: 310px;height: 100%;padding: 0;margin: 0;border: 0;float: left;}
.partner .vouchers .search_bar input[type=submit]{
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    height: 32px;
    width: 28px;
    float: right;
}

.partner .vouchers .search_result{
    margin-top: 40px;
    height: 47px;
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    line-height: 45px;
}
.partner .vouchers .search_result .recipient_name{float: left;height: 100%;font-size: 14px;color: #232323;margin-left: 10px;;}
.partner .vouchers .search_result .voucher_code{float: left;height: 100%;padding-left: 80px;}
.partner .vouchers .search_result .not_found{
    color:red;
    margin-left: 15px;
}
.partner .vouchers .search_result .voucher_btn {
    margin-top: 4px;
    float: right;
    box-shadow:inset 0px -2px 0px 0px #0483b2;
    /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );*/
    /*background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');*/
    background-color:#00a5e2;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:152px;
    text-decoration:none;
    text-align:center;
    /*text-shadow:1px 1px 0px #165696;*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
    cursor: default;
    margin-right: 15px;
}
.partner .vouchers .search_result .voucher_btn:hover {
    /*	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
        background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
        background-color:#4197ee;*/
}
.partner .vouchers .search_result .voucher_btn:active {position:relative;top:1px;}

.partner .vouchers .search_result .used_voucher{float: right;
                                                color:red;margin-right: 30px;}



.partner .vouchers .voucher_listing_table{
    margin-top: 70px;
    width: 100%;
    text-align: left;
    border-spacing: 0px;
    border-collapse: separate;
}
.partner .vouchers .voucher_listing_table .nume{
    /*margin-left: 30px;*/
    width: 240px;
}
.partner .vouchers .voucher_listing_table .nume label{
    margin-left: 10px;
}
.partner .vouchers .voucher_listing_table .email{
    width: 200px;
}
.partner .vouchers .voucher_listing_table .serie{

    width: 180px;
    text-align: center;
}
.partner .vouchers .voucher_listing_table .used{
    width: 180px;
    text-align: center;
}

.partner .vouchers .voucher_listing_table tr td{
    border-bottom: 1px solid #dadada;
    padding: 5px;
}

.partner .vouchers .voucher_listing_table tr th{
    border-bottom: 1px solid #dadada;
    padding: 5px;
}
.partner .vouchers .voucher_listing_table tr th label{
    font-weight: bold;
}
.partner .vouchers .voucher_listing_table label{}


.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 0px 0px;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: 0 0 7px black;

}
.ui-tooltip-content{font-size: 10px;}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -10px;
    width: 15px;
    height: 15px;
    box-shadow: 3px 2px 6px -6px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
    background-color: #ccc;
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}


/* end partener */
